*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  font-family: "Patrick Hand", cursive;

}

body {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

p {
  text-align: center;
  padding-top: 1rem;
  font-size: 18px;
}
